<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href= "/CSS/Stylesheet.css" type="text/css">
  <title>Course Search</title>
</head>

<body>
<div class="jumbotron">
  <div class="mb-4">
    <div class="text-center">
    <img src="https://www.stjohns.edu/themes/sju_theme/assets/logos/logo-header-desktop.svg" alt="myLogo">
  </div>
  <!--<h1 class="display-3">Course Search</h1>-->
</div>
<div class="mb-4">
  <p class="lead"> Please select a form from the dropdown menu and click select. Your form will appear and then you may search for you course</p>
</div>
</div>
<nav class="navbar navbar-light bg-light w-100 text-center">
  <div class="text-center fill w-100">
    <h1 class="text-center">Course Search</h1>
</div>
</nav>
  <div id="box" class="container mt-4 .border">
    {{{body}}}
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
